In [29]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
from nltk import word_tokenize, FreqDist
from nltk.stem.wordnet import WordNetLemmatizer
import string

In [2]:
df = pd.DataFrame(columns=['letters', 'numbers'])
df

Empty DataFrame
Columns: [letters, numbers]
Index: []

In [3]:
new_series = pd.Series(['z', 100], index=df.columns)
df = df.append(new_series, ignore_index=True)
df

  letters numbers
0       z     100

In [4]:
letters = ['a', 'b', 'c', 'd', 'e']
numbers = [1, 2, 3, 4, 5]

In [5]:
for i, letter in enumerate(letters):
    new_row = pd.Series([letters[i], numbers[i]], index=df.columns)
    df = df.append(new_row, ignore_index=True)
df

  letters numbers
0       z     100
1       a       1
2       b       2
3       c       3
4       d       4
5       e       5

In [6]:
df = pd.DataFrame(columns=['letters', 'numbers'])

In [7]:
def add_to_df(topics, texts, df):
    for i, topic in enumerate(topics):
        new_row = pd.Series([topics[i], texts[i]], index=df.columns)
        df = df.append(new_row, ignore_index=True)
    return df

In [8]:
add_to_df(letters, numbers, df)

  letters numbers
0       a       1
1       b       2
2       c       3
3       d       4
4       e       5

In [9]:
sample = [1, 3]

In [10]:
sample.append(2)

In [11]:
sample

[1, 3, 2]

In [12]:
import nltk
from nltk.corpus import stopwords
from nltk import word_tokenize, FreqDist
import re

In [13]:
string = 'hello <CH>, goodbye <SH>'
word_tokenize(string)

['hello', '<', 'CH', '>', ',', 'goodbye', '<', 'SH', '>']

In [14]:
re.findall("\<\w+>", string)

['<CH>', '<SH>']

In [15]:
re.sub("\<\w+>", "", string)

'hello , goodbye '

In [16]:
string.split()

['hello', '<CH>,', 'goodbye', '<SH>']

In [17]:
def reserve_tickers(string):
    tickers = re.findall("\<\w+>", string)
    split_string = string.split()

    for element in split_string:
        if element in tickers:
            print(element)
            split_string.remove(element)
    
    return tickers, split_string

In [18]:
reserve_tickers(string)

<SH>

(['<CH>', '<SH>'], ['hello', '<CH>,', 'goodbye'])

In [19]:
list_1 = ["a", "b"]
list_2 = ["a", "b", "c"]

for element in list_1:
    if element in list_2:
        list_2.remove(element)

print(list_2)

['c']

In [20]:
string = 'hello <CH>, goodbye <SH>'

In [21]:
def reserve_tickers(string):
    tickers = re.findall("\<\w+>", string)
    string = re.sub("\<\w+>", "", string)
    
    return tickers, string

In [22]:
tick, new_str = reserve_tickers(string)

In [23]:
new_str

'hello , goodbye '

In [24]:
def process_text(text):
    
    stopwords_list = stopwords.words('english') + list(string.punctuation)
    stopwords_list.append('...')
    
    tickers, text = reserve_tickers(text)
    print(tickers)
    
    tokens = nltk.word_tokenize(text)
    stopwords_removed = [token.lower() for token in tokens if token.lower() not in stopwords_list]
    
    # adding line to remove all tokens with numbers and punctuation
    stopwords_punc_and_numbers_removed = [word for word in stopwords_removed if word.isalpha()]
    
    return stopwords_punc_and_numbers_removed + tickers

In [25]:
df = pd.read_csv('data_files/topics_and_text.csv')

In [26]:
text = df.iloc[1].text

In [27]:
text

'STANDARD OIL <SRD> TO FORM FINANCIAL UNIT CLEVELAND, Feb 26 - Standard Oil Co and BP North America Inc said they plan to form a venture to manage the money market borrowing and investment activities of both companies. BP North America is a subsidiary of British Petroleum Co Plc <BP>, which also owns a 55 pct interest in Standard Oil. The venture will be called BP/Standard Financial Trading and will be operated by Standard Oil under the oversight of a joint management committee. Reuter'

In [30]:
process_text(text)

['<SRD>', '<BP>']

['standard',
 'oil',
 'form',
 'financial',
 'unit',
 'cleveland',
 'feb',
 'standard',
 'oil',
 'co',
 'bp',
 'north',
 'america',
 'inc',
 'said',
 'plan',
 'form',
 'venture',
 'manage',
 'money',
 'market',
 'borrowing',
 'investment',
 'activities',
 'companies',
 'bp',
 'north',
 'america',
 'subsidiary',
 'british',
 'petroleum',
 'co',
 'plc',
 'also',
 'owns',
 'pct',
 'interest',
 'standard',
 'oil',
 'venture',
 'called',
 'financial',
 'trading',
 'operated',
 'standard',
 'oil',
 'oversight',
 'joint',
 'management',
 'committee',
 'reuter',
 '<SRD>',
 '<BP>']

In [ ]:
[1, 2] + [3, 4]

In [ ]:
list1 = [1, 2]
list2 = [3, 4]
list1 + list2 == list1 + [3, 4]