In [22]:
import pandas as pd

In [23]:
df = pd.DataFrame(columns=['letters', 'numbers'])
df

Empty DataFrame
Columns: [letters, numbers]
Index: []

In [24]:
new_series = pd.Series(['z', 100], index=df.columns)
df = df.append(new_series, ignore_index=True)
df

  letters numbers
0       z     100

In [25]:
letters = ['a', 'b', 'c', 'd', 'e']
numbers = [1, 2, 3, 4, 5]

In [26]:
for i, letter in enumerate(letters):
    new_row = pd.Series([letters[i], numbers[i]], index=df.columns)
    df = df.append(new_row, ignore_index=True)
df

  letters numbers
0       z     100
1       a       1
2       b       2
3       c       3
4       d       4
5       e       5

In [27]:
df = pd.DataFrame(columns=['letters', 'numbers'])

In [28]:
def add_to_df(topics, texts, df):
    for i, topic in enumerate(topics):
        new_row = pd.Series([topics[i], texts[i]], index=df.columns)
        df = df.append(new_row, ignore_index=True)
    return df

In [29]:
add_to_df(letters, numbers, df)

  letters numbers
0       a       1
1       b       2
2       c       3
3       d       4
4       e       5

In [30]:
sample = [1, 3]

In [31]:
sample.append(2)

In [32]:
sample

[1, 3, 2]

In [33]:
import nltk
from nltk.corpus import stopwords
from nltk import word_tokenize, FreqDist
import re

In [34]:
string = 'hello <CH>, goodbye <SH>'
word_tokenize(string)

['hello', '<', 'CH', '>', ',', 'goodbye', '<', 'SH', '>']

In [35]:
re.findall("\<\w+>", string)

['<CH>', '<SH>']

In [37]:
string.split()

['hello', '<CH>,', 'goodbye', '<SH>']

In [49]:
def reserve_tickers(string):
    tickers = re.findall("\<\w+>", string)
    split_string = string.split()

    for element in split_string:
        if element in tickers:
            print(element)
            split_string.remove(element)
    
    return tickers, split_string

In [50]:
reserve_tickers(string)

<SH>

(['<CH>', '<SH>'], ['hello', '<CH>,', 'goodbye'])

In [44]:
list_1 = ["a", "b"]
list_2 = ["a", "b", "c"]

for element in list_1:
    if element in list_2:
        list_2.remove(element)

print(list_2)

['c']