In [20]:
import pandas as pd

In [21]:
df = pd.DataFrame(columns=['letters', 'numbers'])
df

Empty DataFrame
Columns: [letters, numbers]
Index: []

In [22]:
new_series = pd.Series(['z', 100], index=df.columns)
df = df.append(new_series, ignore_index=True)
df

  letters numbers
0       z     100

In [23]:
letters = ['a', 'b', 'c', 'd', 'e']
numbers = [1, 2, 3, 4, 5]

In [24]:
for i, letter in enumerate(letters):
    new_row = pd.Series([letters[i], numbers[i]], index=df.columns)
    df = df.append(new_row, ignore_index=True)
df

  letters numbers
0       z     100
1       a       1
2       b       2
3       c       3
4       d       4
5       e       5

In [25]:
df = pd.DataFrame(columns=['letters', 'numbers'])

In [26]:
def add_to_df(topics, texts, df):
    for i, topic in enumerate(topics):
        new_row = pd.Series([topics[i], texts[i]], index=df.columns)
        df = df.append(new_row, ignore_index=True)
    return df

In [27]:
add_to_df(letters, numbers, df)

  letters numbers
0       a       1
1       b       2
2       c       3
3       d       4
4       e       5

In [7]:
sample = [1, 3]

In [8]:
sample.append(2)

In [9]:
sample

[1, 3, 2]