In [20]:
import pandas as pd

In [21]:
df = pd.DataFrame(columns=['letters', 'numbers'])
df

Empty DataFrame
Columns: [letters, numbers]
Index: []

In [22]:
new_series = pd.Series(['z', 100], index=df.columns)
df = df.append(new_series, ignore_index=True)
df

  letters numbers
0       z     100

In [23]:
letters = ['a', 'b', 'c', 'd', 'e']
numbers = [1, 2, 3, 4, 5]

In [24]:
for i, letter in enumerate(letters):
    new_row = pd.Series([letters[i], numbers[i]], index=df.columns)
    df = df.append(new_row, ignore_index=True)
df

  letters numbers
0       z     100
1       a       1
2       b       2
3       c       3
4       d       4
5       e       5